@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --darktheme-primary: #0c001b;
    --darktheme-secondary: #0e0027;
    --darktheme-text-primary: #ffffff;
    --darktheme-text-secondary: #ffffffb9;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    /*background: linear-gradient(to bottom right, #27002f, #60005c, #0b0015);*/
    padding: 0;
    margin: 0;
    background-color: var(--darktheme-secondary);
    color: var(--darktheme-text-primary);
    text-align: center;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.navbar {
    margin: 1vh;
    width: auto;
    min-height: 10vh;
    border-radius: 10px;
    background-color: var(--darktheme-primary);
    color: var(--darktheme-text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    transition: 0.25s;
    list-style: none;
    font-size: 1.25rem;
    color: var(--darktheme-text-primary);
}

.nav-links ul li:hover {
    transition: 0.25s;
    color: var(--darktheme-text-secondary);
}

.nav-links ul li a {
    transition: 0.25s;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: var(--darktheme-text-primary);
}

.nav-links ul li a:hover {
    transition: 0.25s;
    color: var(--darktheme-text-secondary);
}

.logo {
    font-size: 2.5rem;
}

.toggle-button {
    position: absolute;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
}

.toggle-button .bar {
    height: 0.25rem;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.gradient {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, #0ff, rgb(70, 70, 185), #0ff);
    background-size: 200%;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


@keyframes background-pan {
    from {
      background-position: 0% center;
    }
  
    to {
      background-position: -200% center;
    }
  }



@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}