@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --darktheme-primary: rgb(16 24 30);
    --darktheme-secondary: rgba(7, 10, 12, 0.26);
    --lighttheme-secondary: rgba(255, 255, 255, 0.26);
    --darktheme-text-primary: #ffffff;
    --darktheme-text-secondary: rgb(219, 219, 219);

    --primary: #5865F2;
    --primary-hover: #6872e4;
    --primary-active: #4652ce;
}

hr.dark {
    border: 2px solid var(--darktheme-secondary);
}

hr.light {
    border: 2px solid var(--lighttheme-secondary);
}

.width100 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.width90 {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
}

.width80 {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
}

.width70 {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
}

.width60 {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
}

.width50 {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}

.progress {
    height: 25px;
    background-color: var(--darktheme-secondary);
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    /*background: linear-gradient(to bottom right, #27002f, #60005c, #0b0015);*/
    padding: 0;
    margin: 0;
    background-color: var(--darktheme-primary);
    background: url(images/JTmOeHB.png);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: var(--darktheme-text-primary);
    text-align: center;
    width: auto;
    height: auto;
    width: 100%;
    height: 100%;
}

.navbar {
    /*margin: 1vh;*/
    width: 100%;
    min-height: 10vh;
    /*border-radius: 10px;*/
    background-color: rgba(16, 24, 30, 0.3);
    backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
    color: var(--darktheme-text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    transition: 0.25s;
    list-style: none;
    font-size: 1.25rem;
    color: var(--darktheme-text-primary);
}

.nav-links ul li:hover {
    transition: 0.25s;
    color: var(--darktheme-text-secondary);
}

.nav-links ul li a {
    transition: 0.25s;
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: var(--darktheme-text-primary);
}

.nav-links ul li a:hover {
    transition: 0.25s;
    color: var(--darktheme-text-secondary);
}

/* Nav Buttons */

.nav-links button {
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    padding: 1rem;
    font-size: 20px;
    width: 7.5rem;
    font-weight: 500;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-links button:hover {
    background: white;
    color: #162938;
}

/* End of Nav Buttons */

.canvas {
    width: 100%;
    height: 50vh;
    position: absolute;
    display: flex;
    justify-content: center;
}

.wrapper {
    
    /*display: none;*/

    position: absolute;
    width: 45vh;
    height: 50vh;
    margin: 8rem 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0;
}


.form-box {
    width: 100%;
    padding: 2rem;
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 2.5rem;
    border-bottom: 2px solid white;
    margin: 1.5rem 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0.25rem;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:not(:placeholder-shown)~label {
    top: -0.25rem;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 0.75em;
    font-weight: 400;
    padding: 0 2rem 0 0.25rem;
}

.input-box .icon {
    position: absolute;
    right: 0.4rem;
    font-size: 1.2em;
    line-height: 2.75rem;
}

.logo {
    font-size: 2.5rem;
}

a#active {
    color: var(--primary);
}

.toggle-button {
    position: absolute;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
}

.toggle-button .bar {
    height: 0.25rem;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.gradient {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, #0ff, rgb(70, 70, 185), #0ff);
    background-size: 200%;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


h1 {
    color: var(--darktheme-text-primary);
}

p {
    color: var(--darktheme-text-primary);
}

.primarycolor {
    color: var(--primary);
}


@keyframes background-pan {
    from {
      background-position: 0% center;
    }
  
    to {
      background-position: -200% center;
    }
  }



@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}